.manager-main{
    min-height: 100vh;
    color: white;
    display: flex;
}

.manager-image-container{
    width: 100%; 
    height: 300px;
    background-position: center; 
    background-size: cover; 
}

.manager-sidebar{
    width: 20%;
    background: rgba(0, 4, 255, 0.5);
    display: block;
}

.manager-text-logo{
    height: 30%;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 0, 109) !important;
    background: rgba(255, 255, 255, 0.699);
    border-radius: 30%;
}

.manager-chart{
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background: rgba(255, 255, 255, 0.774);
    color: rgb(248, 248, 248) !important;
}

.manager-home-content{
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
}

.manager-chart-controller{
    width: 100%;
    max-height: 100hv;
    background: rgba(185, 184, 184, 0.651);
}

.manager-option-list{
    width: 100%;
    height: 70%;
    display: block;
}

.manager-option-list .item{
    cursor: pointer;
    width: 100%;
    height: 20%;
    border-radius: 100%;
    min-height: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    font-weight:bold;
}

.manager-option-list .item:hover{
    filter: brightness(50%);
}

.manager-post{
    width: 100%;
    height: 100vh;
    padding: 1%;
}

.post-manager-controller{
    width: 50%;
    height: 30%;
    background: yellow;
    margin-left: 25%;
    margin-right: 25%;
    bottom: 10%;
}

.list-post-manager{
    width: 70%;
    height: 50%;
    margin-left: 15%;
    margin-right: 15%;
    background: rgba(201, 201, 201, 0.795);
    border-radius: 10px;
    margin-top: 10%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;
    align-content: flex-start;
    overflow-y: auto;
    .item{
        width: 49%;
        height: 20%;
        margin-bottom: 1%;
        display: flex;
        transition: transform 0.3s ease;
        color: inherit;
        text-decoration: inherit;
        cursor: pointer;
        img{
            width: 20%;
            height: 100%;
            border-radius: 10px;
        }
        div{
            width: 70%;
            height: 100%;
            border-radius: 10px;
            padding-left: 2%;
            padding-top: 2%;
            margin-left: 2%;
        }

        .check{
            background: grey;
        }

        .no-check{
            background: rgb(87, 86, 86);
        }
    }
    
    .item:hover {
        transform: scale(0.96); /* Phóng to phần tử khi hover */
    }
}

.manager-post-detail-container{
    width: 100%;
    height: 100%;
    background: blue;
    display: flex;
    .information-post{
        width: 30%;
        height: 100%;
        background: yellow;
    }
    .content{
        width: 70%;
        height: 100%;
        background: green;
        overflow-y: auto;
        p{
            margin-left: 5%;
            margin-right: 5%; 
            padding-bottom: 2%; 
            padding-top: 2%;
        }
        img{
            max-width: 100%;
            height: auto; 
            padding-top: 2%; 
            padding-bottom: 2%; 
        }
    }
}