
.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
}
//
.footer {
    background-color: rgba(36, 36, 36, 0.445);
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 0%;
}

.btn-submit{
    display: block;
    margin: 20px auto;
    width: 80%;
}

.show-password{
    position: relative;
    i{
        cursor: pointer;
        position: absolute;
        top: -27px;
        right: 21px;
    }
}

//header

.user-header{
    background: linear-gradient(to left, rgba(0, 0, 255, 0.904), rgba(255, 255, 255, 0.904)) !important;
    display: flex;
}

.avatar-header{
    display: flex;
    align-items: center;
    margin: auto;
    color: white !important;
}

.login-header{
    width: 10%;
    height: 10%;
    display: flex;
    align-items: center;
    margin: auto;
    color: white !important;
}

.login-btn{
    background: rgb(224, 220, 220);
    width: 25%;
    height: 100%;
    display: flex;
    left: 140%;
    font-size: x-large;
    border-radius: 100%;
    position: relative;
}

.login-btn:hover{
    filter: brightness(70%);
}

.name-user{
    cursor: pointer;
    color: white;
    size: 0;
    margin-left: 300%;
}

.nav-item .nav-link.dropdown-toggle::after {
    display: none !important;
}



.search-box{
    margin: auto;
}

.form-container{
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.overlay-content {
    background-color: skyblue;
    padding: 50px;
    padding-left: 250px;
    padding-right: 250px;
    border-radius: 50px;
}

.user-show{
    margin-left: 500%;
}

.close{
    position: absolute;
    top: 6%;
    right: 450px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: none;
}

.main-logo{
    width: 15%;
    height: 10%;
    margin-right: auto;
    margin-left: 5%;
}

.navbar-brand{
    width: 10%;
}

.avatar-image-header {
    width: 50px;
    height: 50px;
    object-fit: cover; 
    border-radius: 5%;
}

.nav-link-red {
    color: red !important;
}

.nav-link-blue {
    color: blue !important;
}

//home page
.carousel-caption{
    color: black;
}

.carousel-item{
    background: rgba(0, 0, 255, 0.199);
    border-radius: 10px;
}

.user-image-container{
    width: 100%; 
    height: 100%;
    background-position: center; 
    background-size: cover; 
}

//user information

.card-body{
    text-align: center;
    padding-top: 10%;
}

.line-avatar{
    display: block;
    margin: auto;
}

.header-information{
    width: 100%;
    height: 30%;
    display: flex;
    position: relative;
    border-radius: 50px;
}

.body-information{
    background: rgba(255, 255, 255, 0.822);
    width: 70%;
    height: 50vh;
    position: relative;
    border-radius: 30px;
    margin: auto;
}

.nav-item{
    font-size: large;
}

.avatar-wrapper {
    position: relative;
    display: inline-block;
}

.avatar-image {
    cursor: pointer;
    width: 100px;
    height: 100px;
    transition: filter 0.3s ease;
    object-fit: cover; 
    border-radius: 50%;
}

.avatar-wrapper:hover .avatar-image {
    filter: brightness(50%);
}

.edit-overlay {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.avatar-wrapper:hover .edit-overlay {
    opacity: 1;
}

.props{
    display: block;
    margin: auto;
}

.btn-edit-user{
    cursor: pointer;
    width: 10%;
    height: 120%;
    border-radius: 100%;
    margin: auto;
    transition: filter 0.3s;
}

.profile-content{
    width: 100%;
    height: 100%;
    align-items: center;
}

.tab-title {
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    font-weight: bold; 
}

.auth-form{
    width: 70%;
    background: rgba(255, 255, 255, 0.671);
    margin: auto;
    margin-top: 1%;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.auth-form h1{
    margin-top: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.login-form{
    background: linear-gradient(to bottom, blue, rgb(223, 223, 223));
    margin-top: 10%;
    border-radius: 10px;
    width: 100%;
}

.register-form{
    background: linear-gradient(to bottom, blue, rgb(223, 223, 223));
    border-radius: 10px;
}

.form-controller-custom{
    width: 80%;
    margin: auto;
}

.user-header-option{
    width: 30%;
    display: flex;
    div{
        margin: auto;
        color: rgb(2, 39, 107);
        font-size: 25px;
        font-weight: 550;
        font-family:Georgia, 'Times New Roman', Times, serif;
        cursor: pointer;
    }
    div:hover{
        filter: brightness(200%);
    }
}

.user-main-content{
    min-height: 100vh;
    color: black;
    text-align: center;
    margin-top: 0%;
}

.user-body{
    width: 100%;
    height: 92vh;
    padding-top: 5%;
}

.banner-home{
    width: 60%;
    max-height: 40%;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 2.0);
    h5{
        color: white;
    }
    p{
        color: white;
    }
    img{
        width: 100%;
        height: 100%;
    }
    .carousel {
        position: relative; 
        z-index: 1; 
    }
}

.list-post-content{
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.faculty-controller{
    width: 20%;
    min-height: 60%;
    background: rgb(204, 204, 204);
}

.faculty-controller .element{
    text-align: left;
    padding-left: 15%;
    padding-top: 10%;
}

.list-post-element{
    width: 60%;
    height: 100%;
    background: rgba(111, 0, 255, 0.336);
}

.date-post-controller{
    width: 20%;
    height: 100%;
    background: rgb(204, 204, 204);
}