
.header{
    background: rgb(212, 212, 212);
    padding: 20px;
    text-align: center;
    font-size: large;
    min-height: 20%;
}

.main-content{
    min-height: 90vh;
    background: white;
    color: black;
    text-align: center;
}

.content {
    width: 100%;
    transition: margin-left 0.5s ease;
}

.option-list{
    display: flex;
}

.option-list-item{
    cursor: pointer;
    position: relative;
    display: block;
    margin: auto;
    font-size: 2rem;
    background: skyblue;
    width: 20%;
    text-align: center;
    border-radius: 50px;
}
.option-list-item:hover{
    cursor: pointer;
    filter: brightness(70%)
}

.header-item{
    display: flex;
    position: relative;
}

.logo-admin{
    cursor: pointer;
    text-decoration: none;
    img{
        width: 50%;
        height: 100%;
    }

}
