
.header{
    background: linear-gradient(to left, blue, white) !important;
    padding: 20px;
    text-align: center;
    font-size: large;
    position: relative;
    display: block;
}

.main-content{
    min-height: 100vh;
    color: black;
    text-align: center;
    margin-top: 0%;
}

.content {
    width: 100%;
    transition: margin-left 0.5s ease;
}

.option-list{
    display: flex;
}

.option-list-item{
    cursor: pointer;
    position: relative;
    display: block;
    margin: auto;
    font-size: 2rem;
    width: 10%;
    text-align: center;
    border-radius: 50px;
}
.option-list-item:hover{
    cursor: pointer;
    filter: brightness(70%);
}

.avatar-user-item:hover{
    filter: brightness(70%);
}

.header-item{
    display: flex;
    position: relative;
}

.logo-admin{
    cursor: pointer;
    text-decoration: none;
    img{
        width: 150%;
        height: 100%;
    }
}

.card-item-custom{
    cursor: pointer;
}

.link-style {
    text-decoration: none;
}

.custom-navbar {
    height: 20px !important;
}

.menu-header{
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(to left, white, grey) !important;
    width: auto;
    height: auto;
    display: flex;
}

.menu-header:hover{
    filter: brightness(70%);
}

.image-container {
    width: 100%; 
    height: 300px;
    background-position: center; 
    background-size: cover; 
}

.avatar-user-item{
    cursor: pointer;
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.user-container-custom{
    min-height: 100vh;
    background-color: black;
    height: auto;
    display: block;
    justify-content: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 20px;
    justify-items: center;
}

.card-wrapper {
    width: 100%;
}

.user-bool{
    display: flex;
    color: white;
    cursor: pointer;
    div{
        margin: auto;
    }
}

.no-verify{
    background: rgb(139, 2, 2) !important;
    border-radius: 100% !important;
}

.verify{
    background: rgb(7, 65, 224) !important;
    border-radius: 100px !important;
    width: 70%;
    margin: auto;
}

.lock{
    background: rgb(177, 166, 11) !important;
}

.un-lock{
    background: rgb(0, 184, 15) !important;
}

.text-warning{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    font-weight: 1000;
    color: white !important;
}

.search-user{
    width: 100%;
    height: 30vh;
    opacity: 0.5;
    display: flex;
    justify-content: center;
}

.list-user{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.user-element{
    width: 100%;
    display: flex;
    flex: 0 0 33.33%;
    margin-bottom: 5%;
    justify-content: center;
}

.tab-user{
    width: 100%;
    height: 100%;
    min-height: 58vh;
    display: flex;
}

.user-profile{
    width: 40%;
    height: 80%;
    min-height: 38vh;
    background: whitesmoke;
    border-radius: 10px;
    position: relative;
    margin-top: 4%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    label{
        font-size: larger;
        i{
            margin-left: 10%;
        }
    }
}

.user-profile label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.user-profile label i {
    margin-right: 15px;
}

.user-profile label span {
    margin-left: 30%; 
}

.user-authorize{
    width: 50%;
    height: 100%;
    min-height: 38vh;
    background: whitesmoke;
    border-radius: 10px;
    position: relative;
    margin-top: 4%;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.set-role-btn{
    cursor: pointer;
    width: 20%;
    height: 100%;
    min-height: 10vh;
    background: rgb(161, 161, 161);
    margin: auto;
    display: block;
    border-radius: 20px;
    text-align: center;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.set-role-btn:hover{
    filter: brightness(70%);
}
//---------------------

