.card-body{
    text-align: center;
    padding-top: 10%;
}

.line-avatar{
    display: block;
    margin: auto;
}

.header{
    width: 100%;
    height: 10%;
    display: flex;
    position: relative;
    background: blue;
    border-radius: 50px;
}

.body{
    background: none;
    width: auto;
    min-height: 500px;
    position: relative;
}

.nav-item{
    font-size: large;
}

.avatar-wrapper {
    position: relative;
    display: inline-block;
}

.avatar-image {
    cursor: pointer;
    width: 100px;
    height: 100px;
    transition: filter 0.3s ease; 
}

.avatar-wrapper:hover .avatar-image {
    filter: brightness(50%);
}

.edit-overlay {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.avatar-wrapper:hover .edit-overlay {
    opacity: 1;
}

.props{
    display: block;
    margin: auto;
}